{% extends 'base.html.twig' %}

{% block title %}Créer un post{% endblock %}

{% block body %}
    <h1>Créer un post</h1>

    {{ include('posts/_form.html.twig') }}

    <a href="{{ path('posts_index') }}">back to list</a>
{% endblock %}
