# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Developpement\UE3DW22_forum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
